---
import BaseLayout from "../../layout/BaseLayout.astro";
import FormContact from "../../components/contact/ContactFormComponent";
---

<BaseLayout>
  <main>
    <div class="error-message-wrapper" id="error-message-wrapper"></div>
    <section>
      <span>Contacto</span>
      <FormContact client:load />
    </section>
  </main>
</BaseLayout>

<style lang="scss">
  main {
    padding: 7em 2em 2em 2em;
    @media (max-width: 576px) {
      padding: 3em 1.5em;
    }
    .error-message-wrapper {
      width: 60%;
      margin: auto;
      @media (max-width: 970px) {
        width: 100%;
      }
    }

    section {
      background: linear-gradient(to right, rgba(31, 94, 138, 0.78), rgba(31, 94, 138, 0.78)), url("/images/contact-form.webp");

      padding: 1em 1.5em 3em 1.5em;
      max-width: 550px;
      width: 100%;
      margin: auto;
      text-align: center;
      border-radius: 1em;

      span {
        display: inline-block;
        padding: 0.3em;
        font-size: 2.2em;
        font-weight: 600;
          color:white;
      }
    }
  }

  .disabled {
    pointer-events: none;
    background: gray;
  }
</style>
