<section id="services">
  <h2>Nuestros Servicios</h2>
  <div class="services-container">
    <div class="services-column">
      <div class="services-info">
        <div class="services-accounting">
          <p>Contabilidad</p>
          <ul>
            <li>Servicios contables</li>
            <li>Presentaciones tributarias</li>
            <li>Asesoría Contable – Tributaria</li>
            <li>Control Interno</li>
            <li>Actualización de Registros y Libros Contables</li>
            <li>Preparación de Estados Financieros</li>
            <li>Declaración de Impuestos</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="services-column">
      <div class="services-info">
        <div class="services-administration">
          <p>Administración de empresas</p>

          <ul>
            <li>Outsourcing Laboral y de Recursos Humanos</li>
            <li>Servicios Laborales y de Recursos Humanos</li>
            <li>Outsourcing Administrativo Financiero</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="services-container">
    <div class="services-column">
      <div class="services-info">
        <div class="services-restructuring">
          <p>Reestructuración y Liquidacion de Empresas</p>
          <ul>
            <li>Auditoria de Estados Financieros</li>
            <li>Auditoria Operativa</li>
            <li>Auditoria Tributaria</li>
            <li>Auditoria Interna</li>
            <li>Exámenes Especiales de Auditoria</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="services-column">
      <div class="services-info">
        <div class="services-other">
          <p>Otras Especialidades</p>

          <ul>
            <li>Outsourcing Laboral y de Recursos Humanos</li>
            <li>Servicios Laborales y de Recursos Humanos</li>
            <li>Outsourcing Administrativo Financiero</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    background: white;
    width: 100%;
    padding: 3em;
    text-align: center;
  }
  h2 {
    color: blue;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1em;
  }
  .services-container {
    display: flex;
    justify-content: space-between;
    .services-column {
      width: 100%;
      text-align: center;
      .services-info {
        margin-top: 2em;
        .services-accounting {
          ul {
            margin-top: 2em;
            list-style: none;
          }
        }
        .services-administration {
          ul {
            margin-top: 2em;
            list-style: none;
          }
        }
        .services-restructuring {
          ul {
            margin-top: 2em;
            list-style: none;
          }
        }
        .services-other {
          ul {
            margin-top: 2em;
            list-style: none;
          }
        }
      }
    }
  }
</style>
