---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import ContentWidth from "../../components/ContentWidth.astro";
---

<BaseLayout title="Mensaje exitoso">
  <!-- Event snippet for Enviar formulario de clientes potenciales conversion page -->
  <!--<script>-->
  <!--    gtag('event', 'conversion', {-->
  <!--        'send_to': 'AW-16632800466/l74ZCNDCkIEaENLJkfs9',-->
  <!--        'value': 1.0,-->
  <!--        'currency': 'PEN'-->
  <!--    });-->
  <!--</script>-->
  <section>
    <ContentWidth>
      <div
        class="min-h-[80svh] flex flex-col md:flex-row justify-center items-center gap-10"
      >
        <Image
          src="/images/success.jpg"
          alt="Image de un contador y un cliente llegando a un acuerdo."
          width="200"
          height="100"
          class="w-full md:max-w-[22rem] xl:max-w-[30rem] rounded-3xl object-cover object-center"
          loading="lazy"
        />
        <div class="flex flex-col items-center text-center">
          <h2 class="text-2xl">Mensaje enviado exitosamente</h2>
          <p class="mb-4">Nos comunicaremos en breve</p>
          <a
            href="/"
            class="rounded-full bg-secondary text-white px-4 py-2 lg:px-6 lg:py-4"
            >Regresar a inicio</a
          >
        </div>
      </div>
    </ContentWidth>
  </section>
</BaseLayout>

<style lang="scss">
  main {
    width: 100%;
    padding: 6em 2em 2em 2em;
    @media (max-width: 576px) {
      padding: 3em 1.5em;
    }
  }
  .success {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
    padding: 1em 7em;
    @media (max-width: 1200px) {
      flex-direction: column;
      gap: 1em;
      padding: 0 2em;
    }
    &__img {
      max-width: 430px;
      height: auto;
      img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }
    }
    &__text {
      width: 35%;
      &-title {
        font-size: 2.7em;
        text-transform: uppercase;
        font-style: italic;
        color: #0d77c1;
        margin-bottom: 0.625em;
        @media (max-width: 576px) {
          font-size: 1.5em;
        }
      }
      &-description {
        font-size: 2em;

        @media (max-width: 576px) {
          padding-bottom: 1em;
          font-size: 1.5em;
        }
      }
      @media (max-width: 1024px) {
        width: 100%;
      }
    }
  }
  .success-btn {
    width: 100%;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    a {
      margin: 0 auto;
      font-size: 1.2em;
      text-transform: upperCase;
      text-decoration: auto;
      font-style: italic;
      background-color: #0d77c1;
      color: #fff;
      padding: 1em;
      border-radius: 7em;
      border: none;
      cursor: pointer;
    }
  }
</style>
