---

---

<section id="about-us">
  <h2 class="inline-flex rounded-full p-4 bg-[#f9f9f9]">Nosotros</h2>
  <h3 class="text-3xl mb-4 font-semibold">
    Comprometidos con tu orden contable y tu tranquilidad.
  </h3>
  <div class="flex justify-between gap-4">
    <div class="w-[50rem] flex flex-col gap-6">
      <img
        src="https://villamuzio.com/wp-content/uploads/2024/07/shutterstock_2357193485-1536x1024.jpg.webp"
        class="w-full h-96 rounded-3xl object-cover object-top"
        alt="Nosotros"
      />
      <p class="text-xl">
        La contabilidad es nuestra pasión. Vivimos para servir. Fortalecemos tu
        proyectos y emprendimientos brindándote excelente asesoría
        administrativa y contable con mas de 20 años de experiencia.
        <strong>¡Tenemos como prioridad brindarte el mejor servicio!</strong>
      </p>
    </div>
    <div class="flex flex-col justify-between gap-10">
      <div class="flex flex-col">
        <span class="text-7xl">250+</span>
        <span class="text-2xl">Clientes atendidos</span>
      </div>
      <div class="flex flex-col">
        <span class="text-7xl">98%</span>
        <span class="text-2xl">Tasa de retención</span>
      </div>
      <div class="flex flex-col">
        <span class="text-7xl">&lt;24H</span>
        <span class="text-2xl">Tiempo de respuesta</span>
      </div>
    </div>
  </div>
</section>
