---
import { Icon } from "astro-icon/components";
---

<a
  href="https://api.whatsapp.com/send?phone=51943581507&text=Me%20interesa%20saber%20más%20sobre%20sus%20servicios"
  target="_blank"
  rel="noreferrer"
  class="fixed right-4 2xl:right-20 bottom-10 bg-[#5cc753] text-white rounded-full p-3 shadow-md transition duration-300 hover:transform hover:scale-105"
>
  <span class="hidden">Botón de whatsapp</span>
  <Icon name="whatsapp" class="w-12 h-12" />
</a>
