---

---

<section id="contact" class="py-10">
  <h2 class="w-max rounded-full px-4 py-2 bg-[#f9f9f9] font-semibold mb-4">
    (⚡) Contacto
  </h2>
  <div
    class="w-full flex items-center p-4 xl:p-15 bg-[url('/images/contact.jpg')] bg-center xl:bg-right rounded-3xl"
  >
    <div
      class="w-full max-w-[25rem] lg:max-w-[32rem] xl:max-w-[40rem] bg-white rounded-3xl p-4 xl:p-10"
    >
      <div class="mb-10">
        <h2 class="text-xl md:text-2xl xl:text-3xl font-bold font-rethink">
          Hablemos de tus finanzas
        </h2>
        <p class="text-sm xl:text-lg">Estamos listos para ayudarte a crecer</p>
      </div>
      <form class="flex flex-col gap-8">
        <div class="flex flex-col gap-2">
          <label for="fullName" class="self-start text-sm xl:text-lg"
            >Apellidos y Nombres</label
          >
          <input
            type="text"
            id="fullName"
            placeholder="Ingrese sus apellidos y nombres"
            class="px-4 py-3 rounded-lg bg-[#ebebeb]"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label for="email" class="self-start text-sm xl:text-lg"
            >Correo electrónico</label
          >
          <input
            type="email"
            id="email"
            placeholder="Ingrese su correo"
            class="px-4 py-3 rounded-lg bg-[#ebebeb]"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label for="phoneNumber" class="self-start text-sm xl:text-lg"
            >Teléfono</label
          >
          <input
            type="number"
            id="phoneNumber"
            placeholder="Ingrese su teléfono"
            class="px-4 py-3 rounded-lg bg-[#ebebeb]"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label for="message" class="self-start text-sm xl:text-lg"
            >Mensaje</label
          >
          <textarea
            id="message"
            name="textarea"
            rows="5"
            cols="60"
            placeholder="Ingrese su mensaje"
            class="px-4 py-3 rounded-lg bg-[#ebebeb]"></textarea>
        </div>
        <button
          type="submit"
          class="border px-4 py-3 bg-secondary text-white rounded-lg cursor-pointer"
          >Enviar</button
        >
      </form>
    </div>
  </div>
</section>
