---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import ContentWidth from "./ContentWidth.astro";
---

<footer>
  <ContentWidth>
    <div
      class="footer rounded-3xl my-4 bg-gradient-to-l to-primary from-accent"
    >
      <div
        class="w-full flex flex-col lg:flex-row justify-between items-start gap-10 p-4 xl:p-10 lg:text-lg xl:text-xl"
      >
        <div
          class="w-full lg:max-w-96 flex flex-col items-center gap-4 bg-white rounded-3xl p-4"
        >
          <Image
            src="/logo.webp"
            alt="Logo de Servicont"
            width="200"
            height="150"
            loading="lazy"
          />
          <p class="text-sm text-balance">
            La contabilidad es nuestra pasión. Vivimos para servir. Fortalecemos
            tu proyectos y emprendimientos brindándote excelente asesoría
            administrativa y contable con mas de 20 años de experiencia.
          </p>
          <div class="flex gap-2 text-black">
            <a
              href="https://api.whatsapp.com/send?phone=943581507&text=Me%20interesa%20saber%20más%20sobre%20sus%20servicios"
              target="_blank"
              class="border border-primary bg-white hover:bg-primary rounded-full p-2 group duration-300"
            >
              <span class="hidden">Icono de whatsapp</span>
              <Icon
                name="whatsapp"
                size={20}
                class="text-primary group-hover:text-white"
              /></a
            >
          </div>
        </div>
        <div class="space-y-4 text-white">
          <h3 class="font-semibold">Secciones</h3>
          <ul class="space-y-2 text-base xl:text-lg">
            <li>
              <a href="/#services">Servicios</a>
            </li>
            <li>
              <a href="/#about">Nosotros</a>
            </li>
            <li>
              <a href="/#plans">Planes</a>
            </li>
            <li><a href="/#contact">Contacto</a></li>
          </ul>
        </div>
        <div class="space-y-4 text-white">
          <h3 class="font-semibold">Contáctanos</h3>
          <ul class="space-y-2 text-base xl:text-lg">
            <li class="flex gap-2">
              <Icon name="phone" size={20} />
              <a href="tel:943581507" target="_blank">+51 943 581 507</a>
            </li>
            <li class="flex gap-2">
              <Icon name="email" size={20} />
              <a
                href="mailto:ecescontadoroficial@gmail.com"
                target="_blank"
                <a
                href="mailto:ecescontadoroficial@gmail.com"
                target="_blank">ecescontadoroficial@gmail.com</a
              >
            </li>
            <li class="flex gap-2">
              <Icon name="location" size={20} />
              <a
                href="https://maps.app.goo.gl/Fj3UpNETN7e9sF157"
                target="_blank">Calle Vargas 179 - Piso 1, Chorrillos</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="text-center text-sm text-white p-4 bg-white/10">
        <p>
          © 2024 Todos los derechos reservados <strong>SERVICONT</strong> - Desarrollado
          por
          <a href="https://agenciaservitec.com" target="_blank"
            >Agencia Servitec</a
          >
        </p>
      </div>
    </div>
  </ContentWidth>
</footer>
