---
import Icon from "astro-icon";
import { Image } from "astro:assets";
import NavLink from "./NavLink.astro";
---

<header class="w-full z-50">
  <div>
    <div
      class="bg-[#f9f9f9] flex justify-between items-center rounded-full p-4 my-3 text-lg xl:text-xl"
    >
      <a href="/public">
        <Image
          src="/logo.webp"
          alt="Logo de Servicont"
          width="200"
          height="100"
          class="w-40"
          loading="eager"
        />
      </a>

      <nav class="hidden md:flex">
        <ul class="flex gap-8">
          <li>
            <NavLink link="/#services">Servicios</NavLink>
          </li>
          <li>
            <NavLink link="/#about-us">Nosotros</NavLink>
          </li>
          <li>
            <NavLink link="/#plans">Planes</NavLink>
          </li>
        </ul>
      </nav>

      <a
        href="/public#contact"
        class="bg-secondary transition duration-300 transition duration-300 hover:transform hover:scale-105 text-white px-10 py-3 rounded-full"
        >Contacto</a
      >

      <Icon name="bars" size={25} class="md:hidden" />
    </div>
  </div>
</header>
