---
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  link?: string;
}

const { name, link = "#" } = Astro.props;
---

<a
  href={link}
  class="w-8 h-8 bg-white cursor-pointer transition duration-300 text-primary flex justify-center items-center rounded-full"
>
  <Icon name={name} size={20} />
</a>
