---
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  link?: string;
}

const { name, link = "#" } = Astro.props;
---

<a
  href={link}
  class="w-8 h-8 bg-secondary-500 hover:bg-secondary-300 cursor-pointer transition duration-300 text-white flex justify-center items-center rounded-full"
>
  <Icon name={name} size={20} />
</a>
