---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import SectionName from "../components/SectionName.astro";
import ContentWidth from "../components/ContentWidth.astro";

import services from "../data-list/services.json";
---

<section id="services" class="py-10">
  <ContentWidth>
    <div class="flex justify-between items-center">
      <SectionName title="Servicios" />
      <div class="space-x-4">
        <button
          id="prev"
          class="border border-secondary bg-white hover:bg-secondary rounded-full p-2 xl:p-4 cursor-pointer duration-300 group"
        >
          <Icon
            name="angle-left"
            size={20}
            class="text-secondary group-hover:text-white"
          />
        </button>
        <button
          id="next"
          class="border border-secondary bg-white hover:bg-secondary rounded-full p-2 xl:p-4 cursor-pointer duration-300 group"
        >
          <Icon
            name="angle-right"
            size={20}
            class="text-secondary group-hover:text-white"
          />
        </button>
      </div>
    </div>
    <div class="w-full relative overflow-hidden flex justify-center gap-6">
      <div id="carousel-track" class="w-full flex duration-300">
        {
          services.map(({ title, image, points }, index) => (
            <article class="slide min-w-full flex flex-col md:flex-row gap-4 xl:gap-6">
              <Image
                src={image}
                alt={`Imagen de ${title}`}
                width="200"
                height="200"
                loading="lazy"
                class="flex-1 w-full md:w-60 min-h-80 xl:h-[80svh] rounded-3xl"
              />
              <div class="flex-1 flex flex-col md:justify-between p-2 xl:p-6">
                <div class="flex flex-col gap-2 md:gap-4">
                  <span class="text-3xl md:text-5xl xl:text-7xl font-semibold">
                    0{index + 1}
                  </span>
                  <h3 class="text-lg md:text-3xl xl:text-5xl font-semibold">
                    {title}
                  </h3>
                </div>
                <ul class="flex flex-col lg:gap-2 xl:gap-4">
                  {points.map((point) => (
                    <li class="text-sm md:text-base xl:text-xl">⚡{point}</li>
                  ))}
                </ul>
              </div>
            </article>
          ))
        }
      </div>
    </div>
  </ContentWidth>
</section>

<script>
  const track = document.querySelector("#carousel-track");
  const slides = document.querySelectorAll(".slide");
  const prevBtn = document.querySelector("#prev");
  const nextBtn = document.querySelector("#next");
  let currentSlide = 0;
  let autoSlideInterval;

  function updateSlide() {
    const slideWidth = slides[0].offsetWidth;
    track.style.transform = `translateX(-${slideWidth * currentSlide}px)`;
  }

  function nextSlide() {
    currentSlide = (currentSlide + 1) % slides.length;
    updateSlide();
  }

  function prevSlide() {
    currentSlide = (currentSlide - 1 + slides.length) % slides.length;
    updateSlide();
  }

  function startAutoSlide() {
    autoSlideInterval = setInterval(nextSlide, 5000);
  }

  function stopAutoSlide() {
    clearInterval(autoSlideInterval);
  }

  nextBtn.addEventListener("click", () => {
    stopAutoSlide();
    nextSlide();
    startAutoSlide();
  });

  prevBtn.addEventListener("click", () => {
    stopAutoSlide();
    prevSlide();
    startAutoSlide();
  });

  window.addEventListener("resize", updateSlide);

  updateSlide();
  startAutoSlide();
</script>
