---
import Icon from "astro-icon";
import { Image } from "astro:assets";
---

<footer class="footer rounded-3xl my-4 bg-gradient-to-l to-primary from-accent">
  <div
    class="w-full flex flex-col lg:flex-row justify-between items-start gap-10 p-4 text-xl"
  >
    <div
      class="w-full lg:max-w-96 flex flex-col items-center gap-4 bg-white rounded-lg p-4"
    >
      <Image
        src="/logo.webp"
        alt="Logo de Servicont"
        width="200"
        height="150"
        loading="lazy"
      />
      <p class="text-sm text-balance">
        La contabilidad es nuestra pasión. Vivimos para servir. Fortalecemos tu
        proyectos y emprendimientos brindándote excelente asesoría
        administrativa y contable con mas de 20 años de experiencia.
      </p>
      <div class="flex gap-2 text-black">
        <a
          href="#"
          target="_blank"
          class="border border-primary bg-white hover:bg-primary rounded-full p-2 group duration-300"
          ><Icon
            name="facebook"
            size={20}
            class="text-primary group-hover:text-white"
          /></a
        >
        <a
          href="#"
          target="_blank"
          class="border border-primary bg-white hover:bg-primary rounded-full p-2 group duration-300"
          ><Icon
            name="instagram"
            size={20}
            class="text-primary group-hover:text-white"
          /></a
        >
        <a
          href="#"
          target="_blank"
          class="border border-primary bg-white hover:bg-primary rounded-full p-2 group duration-300"
          ><Icon
            name="tiktok"
            size={20}
            class="text-primary group-hover:text-white"
          /></a
        >
        <a
          href="https://api.whatsapp.com/send?phone=943581507&text=Me%20interesa%20saber%20más%20sobre%20sus%20servicios"
          target="_blank"
          class="border border-primary bg-white hover:bg-primary rounded-full p-2 group duration-300"
        >
          <Icon
            name="whatsapp"
            size={20}
            class="text-primary group-hover:text-white"
          /></a
        >
      </div>
    </div>
    <div class="space-y-4 text-white">
      <h3 class="font-semibold">Secciones</h3>
      <ul class="space-y-2">
        <li>
          <a href="/#services">Servicios</a>
        </li>
        <li>
          <a href="/#about">Nosotros</a>
        </li>
        <li>
          <a href="/#plans">Planes</a>
        </li>
        <li><a href="/#contact">Contacto</a></li>
      </ul>
    </div>
    <div class="space-y-4 text-white">
      <h3 class="font-semibold">Contáctanos</h3>
      <ul class="space-y-2">
        <li class="flex gap-2">
          <Icon pack="mdi" name="cellphone" size={20} />
          <a href="tel:935 273 393">+51 935 273 393</a>
        </li>
        <li class="flex gap-2">
          <Icon pack="mdi" name="gmail" size={20} />
          <a href="mailto:servicontcontacto@gmail.com "
            >servicontcontacto@gmail.com</a
          >
        </li>
        <li class="flex gap-2">
          <Icon pack="mdi" name="location" size={20} />
          <a href="https://maps.app.goo.gl/Fj3UpNETN7e9sF157" target="_blank"
            >Calle Vargas 179 - Piso 1, Chorrillos</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="text-center text-sm text-white p-4 bg-white/10">
    <p>
      © 2024 Todos los derechos reservados <strong>SERVICONT</strong> - Desarrollado
      por
      <a href="https://agenciaservitec.com" target="_blank">Agencia Servitec</a>
    </p>
  </div>
</footer>
